.slider-container {

}

.slider-title {
  font-family: 'Orchidea Pro', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 130%;
  text-transform: uppercase;
  color: #141414;
  padding-left: 1.3rem;
  margin-bottom: 3.5rem;
}

.slider {
  padding-left: 1.3rem;
}

.slider-div, .slider-div > img {
  height: 345px;
  width: 225px;
}

@media (min-width: 900px) {
  .slider-container, .slider-title {
    padding-left: 16.5rem;
  }

  .slider-title {
    font-size: 3rem;
  }
}