header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 250px;
  height: 100px;
  color: #ffffff;
  background: linear-gradient(0deg, #464341 0%, #010101 100%);
}

.header-logo {
  display: flex;
  gap: 0.5rem;
}