footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 200px;
  width: 100%;
  background-color: #141414;
  font-family: 'Roboto', sans-serif;
}

footer > p {
  padding: 1.1rem;
  color: #ffffff;
}