@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

@font-face {
  font-family: 'Orchidea Pro';
  src: local('Orchidea Pro Medium'), local('Orchidea-Pro-Medium'),
      url("./assets/fonts/OrchideaPro-Medium.woff2") format('woff2'),
      url("./assets/fonts/OrchideaPro-Medium.woff") format('woff'),
      url("./assets/fonts/OrchideaPro-Medium.ttf") format('truetype');
  font-weight: 500;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app-title {
  font-family: 'Orchidea Pro', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 130%;
  text-transform: uppercase;
  padding: 4.5rem 1.3rem 4rem;
}



@media (min-width: 900px) {
  .app-title {
    font-size: 3rem;
    padding: 12rem 16rem 7.5rem;
  }
}

